.chrome-wiper {
    z-index: 2147483647;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.root {
    position: relative;
    bottom: -2vw;
    transform-origin: 7% 93%;
    animation: rotation 1.5s linear 0s infinite alternate;
    width: 25vw;
}

.branch {
    bottom: -4.4vw;
    left: -1vw;
    transform-origin: 7% 93%;
    animation: rotation 1.5s linear 0s infinite alternate;
}

.branch > img {
    position: relative;
    right: 0.5vw;
    top:0.5vw;
    transform-origin: 50% 50%;
    animation: rotation_branch 1.5s linear 0s infinite alternate;
    width: 50vw;
}

.right {
    transform: translateX(50vw);
}


@keyframes rotation {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

@keyframes rotation_branch {
    0% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(-50deg);
    }
}
